$text-color: #ececec;

// $background-color: #1f4068;
// $background-color: #363940;
$background-color: RGB(36, 36, 36);

// $secondary-color: #e43f5a;
$secondary-color: #393939;

$menu-color: #162447;

$light-background-color: #1f4068;

$sc-1: #f1f1f1;
$sc-2: #888;
$sc-3: #555;

// #6378d6
// #feffff --
// #303136
// #0da9e6
// #663398

// #d9dce3
// #363e49
// #262b31
// #18191b
// #1c1d21
